<div id="hero">
  <div class="hero-slider">
    <img src="https://cdn.animeav1.com/backdrops/3560.jpg" alt="Portada 1" class="img-portada">
    <img src="https://cdn.animeav1.com/backdrops/197.jpg" alt="Portada 2" class="img-portada">
    <img src="https://cdn.animeav1.com/backdrops/149.jpg" alt="Portada 3" class="img-portada">
    <img src="https://cdn.animeav1.com/backdrops/448.jpg" alt="Portada 4" class="img-portada">
    <img src="https://cdn.animeav1.com/backdrops/2113.jpg" alt="Portada 5" class="img-portada">
    <img src="https://cdn.animeav1.com/backdrops/1533.jpg" alt="Portada 6" class="img-portada">
  </div>